# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_FKLab_KB

config ZMK_KEYBOARD_NAME
	default "FKLab_KB"

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # BOARD_FKLab_KB
